.profile {
    margin-top: 50px;

    .profile-image {
        border: 6px solid #feea89;
        box-sizing: border-box;
        border-radius: 15px;
        width: 214px;
        height: 214px;
    }

    .profile-image.profile-image-inner-center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;

        &:hover {
            cursor: pointer;
        }
    }

    .profile-description {
        .name {
            font-size: 24px;
            color: #848484;
        }
        .profile-edit-btn {
            background-color: #feea89;
            margin-left: 50px;
            padding: 2px;
            border-radius: 5px;
            height: 28px;

            &:hover {
                background-color: #848484;
                cursor: pointer;
            }
        }
        .add-info {
            div {
                font-size: 22px;
                color: #848484;
            }
        }
    }

    .quantity-of-courses {
        .header {
            background: #ffe464;
            border-radius: 10px 10px 0px 0px;
            font-size: 20px;
            line-height: 25px;
            color: #737373;
            padding: 8px;
            text-align: center;
        }
        .body {
            background: #ffffff;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
            border-radius: 0px 0px 10px 10px;
            padding: 20px;

            .item {
                color: #fee983;
                text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.25);
                font-size: 22px;
                line-height: 20px;
            }
        }
    }

    ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
        padding: 0.4em 0px !important;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    ::ng-deep .mat-form-field-label-wrapper {
        top: -1.5em;
    }

    ::ng-deep
        .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
        .mat-form-field-label {
        transform: translateY(-1.1em) scale(0.75);
        width: 133.33333%;
    }

    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background: #ffffff;
    }

    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0.25em 0.75em 0 0.75em !important;
    }

    ::ng-deep .mat-select {
        height: auto;
    }

    .course-items-header {
        color: #808080;
        font-size: 24px;
    }
}

.course-item {
    box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.25), 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    margin: 20px 0 20px 40px;

    &:hover {
        cursor: pointer;
        background-color: #f9faf0;
    }

    .course-image {
        border: 6px solid #feea89;
        box-sizing: border-box;
        border-radius: 15px;
        margin-right: 20px;
    }

    .course-name {
        color: #737373;
        font-size: 20px;
    }

    .course-author {
        color: #b3b3b3;
        font-size: 20px;
    }

    .course-progress {
        color: #b3b3b3;
        font-size: 20px;
    }

    .mat-raised-button {
        border-radius: 50px;
        color: #ffffff;
    }

    .courses {
        margin: 20px 60px 20px 60px;
    }
}
