<div class="course-item-list" matTooltip="View full info about the course" matTooltipPosition="above"
  routerLink="/course/enrollment/{{course.id}}">
  <div class="row">
    <div class="col-3">
      <img [src]="course.imageSrc" class="image">
    </div>
    <div class="col-9">
      <p class="description">{{course.name}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <p class="description" *ngIf="course.lessonCount">
        {{ course.lessonCount }} lessons
      </p>
    </div>
  </div>
</div>