.courses-list {
    margin: 20px 60px 20px 60px;

    ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
        padding: 0.4em 0px !important;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    ::ng-deep .mat-form-field-label-wrapper {
        top: -1.5em;
    }

    ::ng-deep
        .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
        .mat-form-field-label {
        transform: translateY(-1.1em) scale(0.75);
        width: 133.33333%;
    }

    .category-filter {
        margin-left: 20px;
    }

    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background: #ffffff;
    }

    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0.25em 0.75em 0 0.75em !important;
    }

    ::ng-deep .mat-select {
        height: auto;
    }

    .course-list-filters {
        margin: 10px 10px;
    }
}
