<div class="container viewer" *ngIf="course">
    <div class="d-flex" *ngIf="!lessonToView">
        <img [src]="imageSrc" class="image">
        <div class="d-flex flex-column ml-5 justify-content-around btns">
            <div class="header">{{course.name}}</div>
            <button mat-raised-button color="warn" (click)="leaveCourse()" *ngIf="!isCourseFinished">Leave the
                course</button>
        </div>
    </div>
    <div class="lessons" *ngIf="!lessonToView">
        <div class="lesson d-flex" *ngFor="let lesson of course.lessons; let i = index" (click)="onLessonView(lesson)">
            <div class="d-flex flex-column justify-content-between">
                <div class="header">
                    Lesson {{i+1}} - {{lesson.title}}
                </div>
                <div class="description">
                    {{lesson.description}}
                </div>
            </div>
            <div class="ml-auto mt-auto mb-auto">
                <img src="../../assets/pictures/Ellipse 2.png" *ngIf="!isLessonFinished(lesson.id)">
                <img src="../../assets/pictures/image 4.png" *ngIf="isLessonFinished(lesson.id)">
            </div>
        </div>
    </div>


    <div class="lesson-viewer" *ngIf="lessonToView">
        <app-course-lesson-viewer-item [lesson]="lessonToView" [course]="course"
            (onGoBackByAnchor)="onGoBackByAnchor()">
        </app-course-lesson-viewer-item>
    </div>
</div>